<section class="container-fluid h-100 bg-3 p-4">
    <div class="row c-5">
        <section class="col-md-5 d-flex justify-content-start align-items-center p-5">
            <h1 class="title px-4">Testimonios <br> de Clientes</h1>
        </section>
        <aside class="col-md-7 testimonios p-5">
            <div class="p-3 px-5 m-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus rerum assumenda ratione maxime nesciunt tempora obcaecati veniam nam natus? Voluptas amet in nulla ea ducimus quisquam molestias minus eligendi exercitationem? Lorem ipsum dolor</p>
                <h4 class="title">- Samanta Mayer</h4>
            </div>
            <div class="p-3 px-5 m-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus rerum assumenda ratione maxime nesciunt tempora obcaecati veniam nam natus? Voluptas amet in nulla ea ducimus quisquam molestias minus eligendi exercitationem? Lorem ipsum dolor</p>
                <h4 class="title">- Samanta Mayer</h4>
            </div>
            <div class="p-3 px-5 m-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus rerum assumenda ratione maxime nesciunt tempora obcaecati veniam nam natus? Voluptas amet in nulla ea ducimus quisquam molestias minus eligendi exercitationem? Lorem ipsum dolor</p>
                <h4 class="title">- Samanta Mayer</h4>
            </div>
        </aside>
    </div>
</section>