<section class="container-fluid contenedor-contacto">
    <div class="row h-100 p-5 c-5">
        <article class="contenedor-1 col-md-6 p-5 position-relative d-flex justify-content-start align-items-center">
            <h1 class="title px-4">Contacto</h1>
            <div class="d-flex justify-content-start align-items-center position-absolute top-0 py-1 px-4">
                <img src="../../../assets/Img-Ariel-Tapizados/Logo.ico" alt="Img-Ariel-Tapizados" class="bg-dark m-1">
                <h4 class="fw-bold text-uppercase fs-6 m-1">Ariel Tapizados</h4>
            </div>
        </article>
        <article class="contenedor-2 col-md-6 p-5 d-flex flex-column justify-content-between">
            <ul class="no-decoration">
                <li class="pb-4">Grand Bourg<br>Paso de Uspallata 2305<br>Buenos Aires, Argentina</li>
                <li class="py-4">Tel: (+54) 11 5476-6567<br>Email: ariel7480@hotmail.com</li>
            </ul>
            <div class="px-4 mx-1">
                <button class="fw-bold text-uppercase bg-transparent c-5 py-3 px-5 border-0 button-2 mx-1" type="button">
                    Ver ubicacion
                </button>
                <button class="fw-bold text-uppercase bg-4 c-5 border-0 py-3 px-5 mx-1" type="button">
                    enviar mensaje
                </button>
            </div>
        </article>
    </div>
</section>