<section class="contenedor container-fluid bg-3">
    <div class="row">
        <article class="col-md-5 order-md-1 order-2 contenedor-1 d-flex align-items-center">
            <p class="c-5">Como tapicero experimentado y apasionado, llevo varios años perfeccionando y transformando espacios por medio de la tapicería. Esto me impulsó a crear <b class="text-uppercase">Ariel Tapizados</b>, mi propio emprendimiento. Cada mueble que llega a mis manos es tratado con el mayor cuidado y atención, pues comprendo su importancia en un hogar.</p>
        </article>
        <article class="col-md-7 order-md-2 order-1 contenedor-img-1"></article>
    </div>
    <div class="row ">
        <article class="col-md-7 contenedor-img-2"></article>
        <article class="col-md-5 contenedor-2 d-flex flex-column justify-content-center">
            <p class="c-5 mt-md-5">En <b class="text-uppercase">Ariel Tapizados</b>, la satisfacción de los clientes es la mayor prioridad. Estoy aquí para escuchar sus ideas, asesorarlos en cada elección y materializar sus visiones. No hay consulta que me moleste.<br>Puedes confiar en <b class="text-uppercase">Ariel Tapizados</b> para revivir el esplendor de sus muebles. Juntos crearemos espacios acogedores y llenos de estilo que reflejen su personalidad única.</p>
            <button class="fw-bold text-uppercase py-sm-3 py-1 c-5 bg-4" type="button" routerLink="#sobremi">
                Trabajo
            </button>
        </article>
    </div>
</section>