.contenedor {
  height: 100%;
}
.contenedor-1 {
  background-image: url(../../../assets/Img-Ariel-Tapizados/Trabajo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.contenedor-2 {
  height: 100vh;
  padding: 3%;
}
.contenedor-proceso {
  height: 75vh;
  overflow: auto;
}
.carousel-inner {
  overflow: auto;
}
h1 {
  font-size: 5vw;
}

.bi {
  font-size: 3em;
}

.contenedor-carousel {
  height: 100%;
}
.carousel-content {
  height: 76%;
}
.btn-up-down {
  height: 12%;
}
.active.carousel-item-end,.carousel-item-next:not(.carousel-item-start){
    transition-property: all !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: .1s !important;
    transform: translateY(100%) !important;
}
.active.carousel-item-start,.carousel-item-prev:not(.carousel-item-end){
    transition-property: all !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: .1s !important;
    transform:translateY(-100%) !important;
}
@media screen and (max-width: 767px) {
  button {
      font-size: 3vw;
      padding: 20px;
  }
  h1 {
    font-size: 7vw;
  }
}