<div class="container-fluid row m-p-0 contenedor" id="trabajo">
    <section class="col-md-6 contenedor-1" [ngClass]="{'left-in': fadeService.fadeIn_trabajo}"></section>
    <aside class="col-md-6 contenedor-2 d-flex flex-column justify-content-around" [ngClass]="{'opacity-in': fadeService.fadeIn_trabajo}">
        <h1 class="title c-2">Trabajo</h1>
        <div class="contenedor-proceso my-4">
            <div id="carouselExampleControls" class="carousel slide contenedor-carousel d-flex flex-column justify-content-between">
                <button class="btn-up-down bg-5 border-0" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span aria-hidden="true"><i class="bi bi-arrow-up-short c-3"></i></span>
                  </button>
                <div class="carousel-inner d-flex flex-column justify-content-evenly carousel-content text-center">
                    <div *ngFor="let item of items; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
                        <h5 class="m-3 p-2 c-2 border text-center">{{item.title}}</h5>
                        <p class="p-3 c-1">{{item.description}}</p>
                    </div>
                </div>
                <button class="btn-up-down bg-5 border-0" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span aria-hidden="true"><i class="bi bi-arrow-down-short c-3"></i></span>
                </button>
              </div>
        </div>
        <!-- <a href="#testimonios" (click)="fadeService.fadeIn2Sec_testimonios()">
            <button class="fw-bold text-uppercase px-4 py-sm-3 py-1 c-5 bg-4 border-0" id="button-2" type="button">
                Testimonios
            </button>
        </a> -->
    </aside>
</div>